html {

font-family: Roboto, sans-serif;
}

* {
color: dimgrey;
}
h1 {
    color: black;
    margin-bottom: 0.25em;
}
h2 {
    color: dimgray;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}
a {
    color: blue;
}

.contact {
    display: flex;
    min-width: 90px;
}